@import "variables";
@import "header";
@import "footer";
@import "home";
@import "single";
@import "about";

body {
  font-family: "Arial", sans-serif;
  line-height: 1.6;
  color: $text-color;
  background-color: $background-color;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

h1,
h2,
h3 {
  color: $primary-color;
}

a {
  color: $link-color;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}
